In [1]:
# Heros Lab

In [2]:
import pandas as pd
import numpy as np

In [3]:
# create a hero dataframe
df = pd.read_csv('heros.csv',)
df.head(3)

  Super Hero Name  Location        Power Source            Abilty
0       Spiderman  New York  Radioactive Spider       Climb Walls
1       Wolverine    Canada              Mutant     Healing Claws
2           Storm     Kenya              Mutant  Controls Weather

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Super Hero Name  5 non-null      object
 1   Location         5 non-null      object
 2   Power Source     5 non-null      object
 3   Abilty           5 non-null      object
dtypes: object(4)
memory usage: 292.0+ bytes

In [5]:
df = df.drop('Location', axis=1) # make sure column names match

In [6]:
df

  Super Hero Name        Power Source            Abilty
0       Spiderman  Radioactive Spider       Climb Walls
1       Wolverine              Mutant     Healing Claws
2           Storm              Mutant  Controls Weather
3          Batman               Money         Detective
4           Flash         Speed Force       Super Speed

In [7]:
df.to_csv('new_heros.csv') # creates an csv