# Births.csv to Pandas

In [5]:
%conda install pandas

Channels:
 - defaults
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done
Solving environment: done
done

# All requested packages already installed.


# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [7]:
# grab data
birth_data_df = pd.read_csv('data/Births.csv')
print(birth_data_df.head(10))

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548
5  1969      1  3.0      M    4994
6  1969      1  4.0      F    4440
7  1969      1  4.0      M    4520
8  1969      1  5.0      F    4192
9  1969      1  5.0      M    4198

In [ ]:
# clean data set
# replaces null values in births w/ 0
birth_data_df.fillna({"births": 0}, inplace = True) 
# drops row with null ie NaN values the data frame
birth_data_df.dropna( inplace=True)
# drops any  duplicated rows in the tables
birth_data_df.drop_duplicates(inplace=True)

print(birth_data_df.head(10))

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548
5  1969      1  3.0      M    4994
6  1969      1  4.0      F    4440
7  1969      1  4.0      M    4520
8  1969      1  5.0      F    4192
9  1969      1  5.0      M    4198

In [9]:
# Get Table info 
print(birth_data_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 15067 entries, 0 to 15066
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    15067 non-null  int64
 1   month   15067 non-null  int64
 2   day     15067 non-null  float64
 3   gender  15067 non-null  object
 4   births  15067 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 706.3+ KB
None

In [10]:
men_df = birth_data_df[birth_data_df["gender"] == "M"]
women_df = birth_data_df[birth_data_df['gender'] =="F"]

In [11]:
men_by_year = men_df.groupby("year", as_index=False)["births"].sum()
print(men_by_year.head(10))

   year   births
0  1969  1846572
1  1970  1918636
2  1971  1826774
3  1972  1673888
4  1973  1613023
5  1974  1627626
6  1975  1618010
7  1976  1628863
8  1977  1708796
9  1978  1711976

In [12]:
women_by_year = women_df.groupby("year", as_index=False)["births"].sum()
print(women_by_year.head(10))

   year   births
0  1969  1753634
1  1970  1819164
2  1971  1736774
3  1972  1592347
4  1973  1533102
5  1974  1543005
6  1975  1535546
7  1976  1547613
8  1977  1623363
9  1978  1626324

In [16]:
births_gender_year_df = birth_data_df.groupby(["year","gender"], as_index=False)["births"].sum().sort_values(by=["year"])
year_totals = births_gender_year_df.groupby("year")["births"].transform('sum')
births_gender_year_df["percentage"]= (births_gender_year_df["births"] / year_totals ) *100
print(births_gender_year_df.head(10))

   year gender   births  percentage
0  1969      F  1753634   48.709268
1  1969      M  1846572   51.290732
2  1970      F  1819164   48.669378
3  1970      M  1918636   51.330622
4  1971      F  1736774   48.737214
5  1971      M  1826774   51.262786
6  1972      F  1592347   48.751759
7  1972      M  1673888   51.248241
9  1973      M  1613023   51.270150
8  1973      F  1533102   48.729850

In [14]:
birth_by_year = birth_data_df.groupby(["year", "gender"], as_index=False)["births"].sum()
print(birth_by_year.head(10))

   year gender   births
0  1969      F  1753634
1  1969      M  1846572
2  1970      F  1819164
3  1970      M  1918636
4  1971      F  1736774
5  1971      M  1826774
6  1972      F  1592347
7  1972      M  1673888
8  1973      F  1533102
9  1973      M  1613023

In [15]:
# Calculate mean, median, and mode of births per year
mean_births = birth_by_year['births'].mean()
median_births = birth_by_year['births'].median()
mode_births = birth_by_year['births'].mode().tolist()
print(f"Mean births per year: {mean_births}")
print(f"Median births per year: {median_births}")
print(f"Mode births per year: {mode_births}")

Mean births per year: 1762323.525
Median births per year: 1783550.5
Mode births per year: [1533102, 1535546, 1543005, 1547613, 1592347, 1613023, 1618010, 1623363, 1626324, 1627626, 1628863, 1673888, 1705837, 1708796, 1711976, 1736774, 1753634, 1762459, 1772037, 1775299, 1791802, 1793958, 1797239, 1819164, 1826774, 1833708, 1834774, 1846572, 1855522, 1860111, 1863478, 1867522, 1881766, 1888218, 1909210, 1918636, 1926987, 1930290, 1953105, 2004583]