In [1]:
import numpy as np
import pandas as pd

In [2]:
# Create list
movies = ["Titanic", "Like Mike", "Back 2 the Future"]


# Creae a series
moives_Srs = pd.Series(movies)
print(moives_Srs)
print(moives_Srs.head()) # first couple
print(moives_Srs.tail()) 
print(moives_Srs.head())

0              Titanic
1            Like Mike
2    Back 2 the Future
dtype: object
0              Titanic
1            Like Mike
2    Back 2 the Future
dtype: object
0              Titanic
1            Like Mike
2    Back 2 the Future
dtype: object
0              Titanic
1            Like Mike
2    Back 2 the Future
dtype: object

In [3]:
data = {
    "name": ["Sally", "Mary", "John"],
    "age": [ 50, 40, 30],
    "qualified": [True, False, False]
}

df = pd.DataFrame(data)

print("OG DataFrame")
print(df)
print("\n")

OG DataFrame
    name  age  qualified
0  Sally   50       True
1   Mary   40      False
2   John   30      False

In [4]:
new_df = df.rename(columns={"name": "Name", "age": "Age", "qualified": "Is" }, 
                   index={0: 'a', 1: 'b', 2: 'c' })
print("DataFrame After Renaming")
print(new_df)
print("\n")

DataFrame After Renaming
    Name  Age     Is
a  Sally   50   True
b   Mary   40  False
c   John   30  False

In [ ]:
new_srs =